@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #003d9b;
  --color-primary-container: #0052cc;
  --color-on-primary: #ffffff;
  --color-secondary: #00687b;
  --color-secondary-container: #50dcff;
  --color-on-secondary: #ffffff;
  --color-surface: #f9f9ff;
  --color-on-surface: #091c35;
  --color-on-surface-variant: #434654;
  --color-outline: #737685;
  --color-outline-variant: #c3c6d6;
  --color-error: #ba1a1a;
  --color-error-container: #ffdad6;
}

body {
  @apply bg-surface text-on-surface font-sans antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
